@import "variables.scss";

@media screen and (max-width:420px) {
    .Hero_Container{
        height:100vh
    }
    .Hero_Body{
        width:20rem;margin:0 auto;
        &_text{
            font-size:1.2rem;
        }
        &_Name{
            font-size:1.2rem;
        }
        &_secondtext{
            margin-top:-2rem;font-size:1.2rem;
        }
    }
    .Btn_Gettoknow{
        width:18rem;height:3rem;
    }
    .Btn_Gettoknow_text{
        font-size:1.2rem;
    }
    .right_arrow{
        margin-left:12rem
    }
    .down_arrow{
        margin-left:12rem
    }
}
