.skill_item_skills_imgcontainer{
    border:1px solid #eee;width:8rem;height:6.5rem;flex-direction:column;display:flex;align-items:center;padding-top:1rem;
    box-shadow: 7px 10px 16px 0px rgba(0,0,0,0.04);justify-content: center;text-align:center;
    &_text{
        margin-bottom:-1rem;margin-top:0rem;align-self: center;font-family:eurostile, sans-serif;
    }
    &_image{
        width:4rem;height:4rem;margin-bottom:-1rem;
    }   
    &_imagetitle{
        font-size:1.5rem;font-family:eurostile, sans-serif;
    }
}


@media screen and (max-width:420px) {
    .skill_item_skills_imgcontainer{
        width:5.5rem;height:4rem;padding-top:.5rem;
        &_text{
            margin-bottom:-1rem;
        }
        &_image{
            width:2rem;height:42em;
        }   
        &_imagetitle{
            font-size:1rem
        }
    }
}