@font-face{
    font-family:"eurostile";
    src:local('eurostile',url(./assets/fonts/EurostileBold.ttf) format("truetype"))
}
html, body {
    margin:0;box-sizing: border-box;display: inline-block;
    padding-right:0;width:100%;
}

